/*borrow history table*/
.bhtable  
{
	margin-top:1.5%;
	border-collapse:collapse;
	border-spacing:0; 
	border-color:#999;
	width: 100.25%;
	max-width: 100.25%;
	table-layout: fixed;
}
.bhtable td{font-size:91%; padding:10px 8px; border-style:solid;border-color:#ccc; color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;border-right-width:1px;border-left-width:1px;}
.bhtable th{font-size:100%; padding:12px 12px; border-style:solid; border-color:#ccc;color:#333;background-color:#dadada;border-color:#b9b9b9;border-top-width:1px;border-bottom-width:1px;border-right-width:1px;border-left-width:1px;}
.bhtablecell { white-space: nowrap;  overflow:hidden; max-width: 100%;}
td.bhtablecolhead {background-color:#ededed;}
td.bhtableemptycol{background-color:transparent; border-width:0; padding-left:7px; padding-right:7px; width: 2%;}
th.bhtablegreencell {background-color:#c4ffc4;}
input.bhtablebutton { padding:5px 7px; width:100%; max-width: 100%; }
select.bhtableselect { padding:4px; width:100%; max-width: 100%; }
input.bhtabletextfield { padding:4px; }