.captchaarea
{
	width:100%; 
}

img.captchaimage
{
	width: 260px; /*keep width the same as captcha width in secureimage_show.php*/

}

.captchaactions
{
	width: calc( 100% - 265px ); /*subtract width of the captcha image */
	float:right;
}

img.captchaaction
{
	padding-top:40%;
	margin-right:8%;
	max-width: 60%;
}