/*the outer container of the iteminfo. contains divs: itemupperrect and itemlowerrect*/
.itemcontainer
{
	width: 100%;
}

/*the upper part of the item info. contains divs: itemupperleftrect and itemupperrightrect*/
.itemupperrect
{
	width: 100%;
	height: 270px;
	background:;
}

/*the upper left rect of the item info. contains div: itemimagerect*/
.itemupperleftrect
{
	width: 270px; /* width=height of itemupperrect */
	height: 100%;
	float:right;
}

/*the upper right rect of the item info. contains div: itemupperrightcontentrect*/
.itemupperrightrect
{
	width: calc(100% - 270px); /*width = 100% - leftrectwidth*/
	height: 100%;
	float:right;
}

/*the lower big rect of the item info. contains div: itemdescriptionrect*/
.itemlowerrect
{
	width: 100%;
}

/*contains the image on the upperleft of the iteminfo*/
.itemimagerect
{
	width: 90%;
	height: 90%;
	margin-top: 5%;
	float: left;
	overflow:hidden;
	
}

/*contains itembulletpointrect and itemstaterect*/
.itemupperrightcontentrect
{
	width: 100%;
	height: 90%;
	margin-top: 2.55%;
}

/*contains the title, category, owner, quantity... */
.itembulletpointrect
{
	width: 75%;
	height: 100%;
	overflow: hidden;
	float:left;
}

/*contains item condition state and item borrowed state*/
.itemstatesrect
{
	float: right;
	width: 25%;
	height: 100%;
	background: ;
}

/*contains statecaption and stateimagerect*/
.itemupperstaterect
{
	width: 100%;
	height: 35%;
	margin-top:15%;
	margin-right: 2%;
	background: ;
}

/*contains statecaption and stateimagerect*/
.itemlowerstaterect
{
	width: 100%;
	height: 35%;
	margin-top:30%;
	margin-right: 2%;
	background: ;
}

/*contains stateimage (the heart)*/
.itemstateimagerect
{
	height: 60px;
	width: 60px;
	margin-top: 4%;
	margin-left: 24%;
}

/*contains the item description (the lower big rect)*/
.itemdescriptionrect
{
	width: 100%;
	margin-top: 1.5%;
	margin-bottom:1.75%;
	float: left;
	padding-bottom: 2%;
}

table.itembullets
{
	margin-left: 4px;
	border-spacing: 10px;
	border-collapse: seperate;
	height:100%;
	background: ;
}

td.itembulletcaption
{
	font-weight: bold;
}

td.itembullettext
{

}

p.itemstatecaption
{
	text-align: center;
}


p.descriptiontitle
{
	font-size: 125%;
	padding-left: 1.5%;
	padding-top:  1.25%;
}

p.descriptiontext
{
	font-size: 100%;
	padding-left: 1.5%;
	padding-top:  1.25%;
	overflow: hidden;
	word-wrap: break-word;
}

a.showimagelink
{
	
}

#imagedialogrect
{
	display:none;
}

img#bigitemimage
{
	
}