/*the outer container of a listitem*/
.listitemcontainer
{
	width: 100%;
	height: 140px;
}

.listitemcontainer:hover
{
	border-color:#999;
	-webkit-box-shadow: 5px 5px 5px -2px rgba(112,111,112,1);
	-moz-box-shadow: 5px 5px 5px -2px rgba(112,111,112,1);
	box-shadow: 5px 5px 5px -2px rgba(112,111,112,1);
}

/*the left part of a listitem. contains div: listitemimagerect*/
.listitemleftsquare
{
	width: 140px; /*width = height of itemcontainer*/
	height: 100%;
}

/*the right part of a listitem. contains divs: listitemstaterect, listitemcategoryrect, listitemquantityrect*/
.listitemrightsquare
{
	width: 140px;
	height: 100%;
	float:right;
}

/*the center part of a listitem. contains: listitemtextrect, listitemtitle, listitemdescription*/
.listitemcenterrect
{
	width: calc(100% - 280px); /* 100% - (width leftsquare + width rightsquare)*/
	height: 100%;
	float:right;
}

/*contains the image on the left of the listitem*/
.listitemimagerect
{
	width: 86%;
	height: 86%;
	margin-left: 7%;
	margin-top: 7%;
	float: left;
	overflow:hidden;
}

/*contains the title and the description in the center of the listitem*/
.listitemtextrect
{
	width: 96%;
	height: 86%;
	margin-top: 10px;
	margin-left: 2%;
}

/*style for listitem title paragraph*/
p.listitemtitle
{
	font-size: 150%;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 30%;
	margin-left: 2%;
	margin-right: 2%;
	padding-top:1%;
	
}

/*style for listitem description paragraph*/
p.listitemdescription
{
	font-size: 100%;
	font-weight: normal;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 60%;
	padding-top:1%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
}

/*contains the state symbol of an listitem on the right (the heart)*/
.listitemstaterect
{
	width: 30%;
	height: 30%;
	margin-left: 12%;
	margin-top: 12%;
	overflow:hidden;
}

/*contains the borrow symbol of an listitem on the right (in stock / out of stock)*/
.listitemborrowrect
{
	width: 30%;
	height: 30%;
	margin-right: 12%;
	margin-top: 12%;
	overflow:hidden;
	float:right;
}

/*contains the category of an listitem on the right*/
.listitemcategoryrect
{
	width: 80%;
	height: 18%;
	margin-left: 7%;
	margin-top: 9%;
	padding-left:3%;
	padding-right:3%;
}

/*contains the subcategory of an listitem on the right*/
.listitemsubcategory
{
	width: 80%;
	height: 18%;
	margin-left: 7%;
	margin-top: 4%;
	padding-left:3%;
	padding-right:3%;
}

/*style for the text of category and quantity on the right*/
p.listitemrighttext
{
	margin-top: 3.5%;
	text-align: left;
	overflow:hidden;
	white-space: nowrap;
}

/*used to keep the text-color of an listitem black, even if ref*/
a.listitemlink
{
	color: black;
}