
/*style for the links of the left navigation panel*/
.navileftbutton
{
	/*display: table;*/

    height: 30px;
}

/*style for the captions of the categories of left navigation panel*/
.navileftcaption
{
	display: table;
	font-size: 120%;
    height: 30px;
}

/*the style used by the respective rects (the roundish shadowed frame)*/
.itemrectstyle
{
	background-color: white;
	border-style:solid;
	border-color:#bbb;
	border-width: 1px;
}

/* elements with this style trigger the spinning wheel when clicked via javascript */
.spin{ }

p.contenttitle
{
	font-size: 175%;
	padding-bottom:0.5%;
}

p.contenttext
{
	text-align: justify; /*blocksatz*/
}

input.formbutton
{
	padding:10px;
	float:right; 
	margin-top:3%; 
}

input.formbuttonmargin
{
	margin-right: 3%;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
    z-index:100;
}

p.errorfeedback
{
	background-color: #ffc8c2;
	border: 2px solid #cc4936;
	
	color: black;
	text-align: center;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

p.successfeedback
{
	background-color: #c4ffc4;
	border: 2px solid #17aa27;
	
	color: black;
	text-align: center;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

a.feedbackclose
{
	float:right;
	margin-right: 10px;
	margin-top: 10px;
}

/*textfield for login and register form*/
input.bigtextfield
{
	padding-left: 10px;
	padding-right: 10px;
	width: 300px; /*if adjusting width or padding here, also adjust width of #registerlogincontent @ layout.css */
	
	height: 45px;
	font-size: 150%;
	margin-top: 15px;
	
	background-color: #ffffff;
	border: 1px solid #999999;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

img.centered
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.userbarstyle
{
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-o-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1ed9c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #c1ed9c 5%, #8cb82b 100% );
	background:-o-linear-gradient( top, #c1ed9c, #8cb82b );
	background:-ms-linear-gradient(top, #c1ed9c 0%, #8cb82b 100%);
	filter:DXImageTransform.Microsoft.gradient(startColorstr='#c1ed9c', endColorstr='#8cb82b');
	background-color:#c1ed9c;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #8cb82b;

	
	border-top:1px solid #8cb82b;
	border-bottom:1px solid #8cb82b;
	
}

.userbarcontent
{
	display:inline-block;
	padding-top:17px;
	padding-right: 15px;
	float:left;
}

#userbar a:link { color: white;}
#userbar a:visited { color: white;}
#userbar a:hover { color: blue;}
#userbar a:active { color: white;}

.searchbar
{
	padding-top:13px; 
	padding-right:15px; 
	display:inline-block; 
	float:right;
}
.searchbarcontent{padding:3px;}

.sortbar
{
	padding-top:0px; 
	padding-right:0px; 
	display:inline-block; 
	float:right;
	width:40%;
	margin-right:-2px;
	background: ;
}
.sortbarcontent
{
	padding:3px; 
	float:right;
	margin-left:7%;
}
.sortbarcheckbox
{
	float:right;
	margin-left:7%;
	margin-top:2.4%;
	
	/* All browsers except webkit*/
  	transform: scale(1.5);

  	/* Webkit browsers*/
  	-webkit-transform: scale(1.5);
}

.userimage
{
	display:inline-block;
	padding-top:9px;
	padding-right:9px;
	float:left;
}

td input[type="checkbox"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}

a.footerref
{
	padding:5%;
}
